<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log4net\RollingFileLog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="4MB" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{MM/dd/yyyy HH:mm:ss} [%logger] %level - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="connstring" connectionString="Data Source=localhost,1433;Initial Catalog=Col4New1;User ID=aaa;Password=aaa;MultipleActiveResultSets=true" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="daytime_extend_minutes" value="5" />
    <add key="evening_extend_minutes" value="15" />

    <add key="CurrentURL" value="http://cdmcolraprd02.dpu.depaul.edu/ra" />
    <add key="FlashPlayerURL" value="https://colflash.cdm.depaul.edu/colflashweb/COLFlashPlayer.aspx" />
    <add key="HTML5WebPlayURL" value="http://cdmcolwebprd02.dpu.depaul.edu/html5player/?lectureid=" />
    <add key="HTML5WebPlayPublicURL" value="http://courseonline.cdm.depaul.edu/HTML5Player/?lectureid="/>
    <add key="PortalPage" value="http://colraweb.cdm.depaul.edu/ra/AccessPoint/parser.aspx" />
    <add key="emailserver" value="mailcast.is.depaul.edu" />
    <add key="CASClient_BaseUrl" value="https://logintst.is.depaul.edu/ldap/" />
    <add key="fileserverusername" value="sLy5wLPBvcGywME=" />
    <add key="fileserverpassword" value="sLG6sLy5en99foA=" />
    <add key="insertsuccprompt" value="true" />
    <add key="updatesuccprompt" value="true" />
    <add key="deletesuccprompt" value="true" />
    <add key="codebase" value="http://cdmcolwebprd02.dpu.depaul.edu/ra/Player/" />
    <!--add key="javaplayerdataservice" value="/COL4ClientDataService/COL4ClientDataService.aspx?ProtocolFormat=ZIP"/-->
    <add key="colplayerdataservice" value="/col/client6/RELEASE/Col4ClientDataService.aspx?ProtocolFormat=ZIP" />
    <add key="javaplayerdataservice" value="/col/client5/RELEASE/Col4ClientDataService/COL4ClientDataService.aspx?ProtocolFormat=ZIP" />
    <!--add key="colplayerdataservice" value="/ClientDataService2/Col4ClientDataService.aspx?ProtocolFormat=ZIP"/-->
    <add key="archive" value="newclient5.9.jar" />
    <add key="speedlimit" value="200000" />
    <add key="socketconnection" value="0" />
    <add key="logmode" value="1" />
    <add key="loglevel" value="0" />
    <add key="dataversion" value="04.05.10" />
    <add key="mouse" value="no" />
    <add key="vector" value="yes" />
    <add key="zipsc" value="yes" />
    <add key="zipwb" value="yes" />
    <add key="debug" value="no" />
    <add key="islocal" value="no" />
    <!-- weiyuw,2006.8.14-->
    <add key="LocalServer" value="140.192.34.13" />
    <add key="DefaultPassword" value="pass4you" />
    <add key="iv" value="su??m\r?" />
    <add key="key" value="?\r???M?" />
    <!-- shuC,1/10/2008: the port of "WMS HTTP Server Control Protocol" should be enabled on media server for silverlight media player -->
    <add key="mediaServicePort" value="" />
    <add key="testAppletCodebase" value="http://colraweb.cti.depaul.edu/ra/Player/" />
    <add key="testVideoPath" value="mms://colfilesvr1.cstcis.cti.depaul.edu:3456/09 19 2007 17 45 00/HighVideo/lecture.wmv" />
    <add key="LogFilePath" value="D:\COL\RAWebLog" />
    <add key="DebugLog" value="no" />
    <add key="PPCPort" value="56789" />
    <add key="IPCPort" value="56789" />
    <add key="AccessTimeDurationInMin" value="10" />
    <add key="UnlimitedTimeIPList" value="140.192.34.51,140.192.34.85,140.192.34.119,140.192.34.121,140.192.33.18,140.192.33.104,140.192.33.26,140.192.33.105,140.192.200.65,140.192.200.3,140.192.33.84,140.192.33.69,140.192.33.103" />
    <add key="ScreenShrinkDeptList" value="ANI,GPH,DMA,DOC,POST,FILM,CP,SCWR,GAM,ILL,VFX" />
    <add key="ScreenShrinkToSizeInM" value="100" />
    <add key="FlashStreamRootUrl" value="rtmpe://COLFLASHM.CDM.DEPAUL.EDU/cfp/" />
    <add key="COLAuthenticateServiceRef.COLAuthenticateService" value="https://colflash.cdm.depaul.edu/CDMCOLService/COLAuthenticateService.asmx" />
    <add key="DPUAuthService.DPUAuthService" value="http://cdmcolauthprd02.dpu.depaul.edu/DPUAuthService/DPUAuthService.asmx" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AuthServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="AuthServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://colflash.cdm.depaul.edu/AuthService/AuthService.asmx" binding="basicHttpBinding" bindingConfiguration="AuthServiceSoap" contract="AuthService.AuthServiceSoap" name="AuthServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
